.console {
    margin:5px;
    height:210px;
    overflow:auto;
    border: 1px #c0c0c0 solid;
}

#consoleText{
    padding:3px;
    color: grey;
}

.consoleError{
    color:red
}
.consoleCorrect{
    color:green
}

.col
{
    float: left;
    width: 25%;
}

.last{
    clear: left;
}

.row{
    border: 1px solid green;
}