.console {
    margin:5px;
    height:210px;
    overflow:auto;
    border: 1px #c0c0c0 solid;
}

#consoleText{
    padding:3px;
    color: grey;
}

.consoleError{
    color:red
}
.consoleCorrect{
    color:green
}